services:
  node1:
    build:
      context: .
      dockerfile: node/Dockerfile
    container_name: node1
    ports:
      - "2222:22"       # espone ssh sulla porta 2222 del tuo computer
      - "8080:8080"     # espone il server PHP sulla porta 8080 del tuo computer
    privileged: false

  node2:
    build:
      context: .
      dockerfile: node/Dockerfile
    container_name: node2
    ports:
      - "2223:22"       # espone ssh sulla porta 2223 del tuo computer
      - "8081:8080"     # espone il server PHP sulla porta 8081 del tuo computer
    privileged: false

  controller:
    build: 
      context: .
      dockerfile: controller/Dockerfile
    container_name: ansible_controller
    volumes:
      - ./playbooks:/etc/ansible/playbooks                # monta la cartella dei playbook
      - ./hosts:/etc/ansible/hosts                        # monta la cartella dell'inventory
    privileged: false
# Note:
# comando da eseguire nel controller: ansible-playbook -i /etc/ansible/hosts/inventory.ini /etc/ansible/playbooks/deploy.yml