---
- name: Deploy applicazione PHP + MariaDB con ruoli
  hosts: all
  become: true

  vars:
    db_host: "node2"
    db_name: "mydb"
    db_user: "dbuser"
    db_password: "password"
    db_root_password: "rootpassword"
    php_version: "8.3"
    app_root: "/var/www/html"

  roles:
    - { role: database, when: "'database_node' in group_names" }
    - { role: webserver, when: "'webserver_node' in group_names" }